
<div class="container" style="margin-top:300px;">

  <h1 class="text-center font-weight-bold" style="margin-bottom: 20px;">Ask your coach a question!</h1>
  <div class="container d-flex justify-content-center">
    <form action="/answer" data-turbo="false" class="d-flex">
      <input type="text" name="question" class="form-control form-control-lg">
      <input type="submit" value="Ask" class="btn btn-primary btn-lg mx-2">
    </form>
  </div>

</div>
